In [2]:
import os
import pandas as pd

In [49]:
df = pd.DataFrame({ 'id': [fn[:3] for fn in os.listdir('./dataset') if fn.endswith('.wav')] })
df.head()

    id
0  300
1  301
2  302
3  303
4  304

In [54]:
is_depressed = {}
for fn in [
    'dev_split_Depression_AVEC2017.csv',
    'train_split_Depression_AVEC2017.csv',
    'test_split_Depression_AVEC2017.csv',
    'full_test_split.csv']:
    with open('./dataset/'+fn, 'r') as f:
        for row in f.readlines()[1:]:
            vals = row[:-1].split(',')
            if len(vals) >= 2:
                is_depressed[vals[0]] = int(vals[1])
df['is_depressed'] = df['id'].apply(lambda id: is_depressed[id] if id in is_depressed else 0)
df.head()

    id  is_depressed
0  300             0
1  301             0
2  302             0
3  303             0
4  304             0